  <div class="bgw-fix">
    <div class="background-logo">

      <a class="item logo"
        target="_blank"
        title={{t "forms.application.sitemap.application-name.title"}}>
        <img class="ui centered image" src="assets/images/flexberry-logo.png" />
      </a>
      <div class="page-header-caption"><a>{{t "application-name"}}</a></div>
    </div>
  </div>
  <div id="example" class="pusher">
    <div class="ui form {{objectlistviewEventsService.loadingState}}">
      <div class="bgw-opacity hidden"></div>
      <div class="full height">
        <div class="flexberry-content ui attached segment">
          <div class="ui main container">
            <div class="stackable grid container">
              {{outlet}}
            </div>
            <div class="stackable grid container">
              {{flexberry-button
                class=classButton
                caption=buttonCaption
                click=(action "goCountFlops")
              }}
            </div>
            <div class="stackable grid container">
              {{{thankYou}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
